/* font-family: 'Montserrat',
sans-serif;

font-family: 'Oswald',
sans-serif; */

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  /* padding: 0;
  margin: 0; */
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

.main-container {
  /* padding: 3em; */
}

.container {
  display: flex;
  width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

header {
  background-color: #2E323F;
    padding: 1em 0;
    text-align: center;
}

.nav {
  display: flex;
  color: #fff;
  width: 100%;
  font-size: 1rem;
}

.nav__list {
  display: flex;
  list-style: none;
  /* flex-direction: row; */
}

.nav__list--primary {
  margin: 0;
}

.nav__list--secondary {
  justify-content: flex-end;
  margin: 0 auto;
}


.nav__item {
  margin: 0 0 0 1.5em;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.125rem;
}

.nav__link--button {
  background-color: #A59678;
  padding: .25em 1.25em;
  border-radius: 100px;
}

.hero {
  background-color: #3B4050;
}

.hero__title {
  color: #fff;
  /* font-size: 3rem; */
  font-size: 5.625rem;
}

.hero__title--span {
  color: #A59678;
}

.hero__right {
  font-family: 'Montserrat', regular;
  color: #fff;
  font-size: 1.5rem;
}

.hero__button {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #A59678;
  padding: .5em 1.25em;
  border-radius: 100px;
}

img {
  max-width: 100%;
}